# simplified gitignore


# secrets
.env
.env.*

# Python
__pycache__/
*.py[cod]
.venv/
venv/

# Go
bin/
*.test
coverage.out

# LaTeX
*.aux
*.log
*.out
*.toc
*.fls
*.fdb_latexmk
*.synctex.gz

# editor / OS
.vim/
*.swp
*~
.DS_Store
